<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-5">Bienvenue sur notre site de vente de meubles</h1>
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestion des Meubles</h5>
          <p class="card-text">Ajoutez, modifiez et supprimez des meubles.</p>
          <a href="/furniture" class="btn btn-primary">Voir les meubles</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Panier</h5>
          <p class="card-text">Affichez et gérez les éléments dans votre panier.</p>
          <a href="/cart" class="btn btn-primary">Voir le panier</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
